<!DOCTYPE html>

{% load static %}
{% include 'PatriaPoloApp/navbar.html' %}
<link rel="stylesheet" href="{% static 'PatriaPoloApp/css/tienda.css' %}">
<div class="container87">
   <h3 class="title">- bolsos -</h3>
   
  <div class="products-container">
    <div class="product" data-name="p-4">
        <img src="{% static 'JEPG/bolso calavera 3.jpg' %}" alt="">
        <h3 class="product__title">Bolso premium</h3>
        <p class="section__product"><i>Bolsos, equipamentos...</i></p>
        <div class="price"></div>
        <div class="buttons"><a href="{% url 'Productos:bolsocalavera' %}" class="cart">Detalles</a></div>
     </div>
     <div class="product" data-name="p-4">
      <img src="{% static 'JEPG/almacenamiento gris 2.jpg' %}" alt="">
      <h3 class="product__title">Juego de vendas</h3>
      <p class="section__product"><i>Bolsos, equipamentos...</i></p>
      <div class="price"> 14.5 USD</div>
      <div class="buttons"><a href="{% url 'Productos:vendas' %}" class="cart">Detalles</a></div>
   </div>
  </div>
</div>
{% include 'PatriaPoloApp/footer.html' %}