<!DOCTYPE html>
{% load static %}
{% include 'PatriaPoloApp/navbar.html' %}
<link rel="stylesheet" href="{% static 'PatriaPoloApp/css/productos_descripcion.css' %}">
<html lang="es">
<p class="title"><b>- Rodilleras de adulto -</b></p> 
<section class="body">   
    <div class="container">
        <div class="img_container">
            <img src="{% static 'JEPG/rodilleras marron 4.jpg' %}" alt="" class="main_img">
        </div>
        <div class="thumbnail_container">
            <img class="thumbnail active" src="{% static 'JEPG/rodilleras marron 4.jpg' %}" alt="">
            <img class="thumbnail" src="{% static 'JEPG/rodilleras marron 5.jpg' %}" alt="">
            <img class="thumbnail" src="{% static 'JEPG/rodillera marron 3.jpg' %}" alt="">
            <img class="thumbnail" src="{% static 'JEPG/rodillera marron 2.jpg' %}" alt="">
        </div>
    </div>
</section>
<section class="container__text">
    <p class="description">
        Descripcion del producto</p>
    <p class="text_p">
        - Rodilleras de 2 tiras de velcro. <br>
        - Hechas con cuero de primera calidad. <br>
        - Vienen con dos correas de cuero de velcro para su ajuste y cierre. <br>
    </p>
    <p class="text_p">Mas detalles: Disponible en colores HB, London, negro y marrón africano.</p>
    <p class="price">Precio: </p>
    <p class="text_p"><i>Categoria: Rodilleras...</i></p>
    <div class="button1"><button class="buttoninside">Consultar por este producto!</button></div>

</section>
<script src="{% static 'PatriaPoloApp/js/products.js' %}"></script>
{% include 'PatriaPoloApp/footer.html'  %}
</html>